<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  Tokenized Url for Weather Service
            default: http://api.openweathermap.org/data/2.5/weather?lat={0}&lon={1}
      -->
      <setting name="Sitecore.SharedSource.Conditions.Weather.ServiceUrl" value="http://api.openweathermap.org/data/2.5/weather?lat={0}&lon={1}&units=imperial" />
      <setting name="Sitecore.SharedSource.Conditions.GeoIp.RegionGroups.Item" value="/sitecore/content/Global/Settings/Region Groups" />
    </settings>
    <pipelines>
      <startTracking>
        <processor type="Sitecore.SharedSource.Conditions.Weather.Analytics.Pipelines.LoopbackIpAddressOverride,Sitecore.SharedSource.Conditions.Weather"
                 patch:after="*[@type='Sitecore.Analytics.Pipelines.StartTracking.InitializeTracker,Sitecore.Analytics']">
          <lookupProviderUrl>http://wtfismyip.com/text</lookupProviderUrl>
          <!--canada-->
          <!--<defaultIp>205.204.64.13</defaultIp>-->
          <!--redmond,wa-->
          <!--<defaultIp>23.96.177.10</defaultIp>-->
          <!--california-->
          <!--<defaultIp>198.105.197.28</defaultIp>-->
          <!--florida-->
          <!--<defaultIp>66.77.171.177</defaultIp>-->
          <!--ny-->
          <!--<defaultIp>161.185.30.156</defaultIp>-->
          <!--http://ifconfig.me/ip-->
        </processor>
        </startTracking>
    </pipelines>
  </sitecore>
</configuration>